asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.1.0
comtypes==1.1.14
Django==4.2.1
docopt==0.6.2
idna==3.4
numpy==1.24.3
opencv-contrib-python==4.7.0.72
opencv-contrib-python-headless==4.7.0.72
opencv-python==4.7.0.72
pandas==2.0.1
Pillow==9.5.0
pipreqs==0.4.13
psycopg2-binary==2.9.6
pypiwin32==223
python-dateutil==2.8.2
pyttsx3==2.90
pytz==2023.3
pywin32==306
requests==2.30.0
six==1.16.0
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.2
yarg==0.1.9
